footer {
    background: var(--cor4);
    color: var(--cor0);
}

.first-child-footer {
    padding: 50px 0;
    font-size: 1.2em;
}

.second-child-footer {
    display: grid;
    align-items: center;
    justify-content: end;
}