#home {
    height: 100vh;
    display: flex;
    align-items: center;
}

#home .first-child-home {
    margin: 100px 0;
}

#home .first-child-home .text-home button {
    font-size: 1.2em;
    font-weight: 500;
    margin-right: 10px;
    padding: 10px 20px;
    border: 2px solid var(--cor4);
}

#home .first-child-home .text-home button:hover {
    color: var(--cor0);
    background: var(--cor3);
}

/* second-child-home */

#home .second-child-home .scroll-down {
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bouncing 1s ease-in-out alternate infinite;
}

#home .second-child-home .mail-home {
    display: flex;
    justify-content: end;
}

#home .second-child-home .scroll-down p,
#home .second-child-home .mail-home p {
    margin: 0;
    margin-left: 10px;
}