@charset "UTF-8" 

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');


:root {
    --cor0: #EDEBE8;
    --cor1: #CAC0B0;
    --cor2: #9C8D76;
    --cor3: #5E554B;
    --cor4: #3E3831;
}

* {
    font-family: 'Montserrat', sans-serif;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

header #first-child-page-1 .container {
    margin-top: 20px;
    padding: 0;
}

header #first-child-page-1 img {
    width: 60px;
}

header #first-child-page-1 ul {
    margin-left: auto;
}

header #first-child-page-1 ul li a {
    margin-left: 30px;
    color: var(--cor4);
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    position: relative; 
}

header #first-child-page-1 ul li a::after {
    content: " ";
    width: 0%;
    height: 2px;
    background-color: var(--cor2);
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

header #first-child-page-1 ul li a:hover::after {
    width: 100%;
    color: var(--cor2);
}

header #second-child-page-1 .container {
    display: flex;
    padding: 0;
    height: 550px;
    align-items: center;
    justify-content: space-between;
}

header #second-child-page-1 .text-home {
    max-width: 500px;
}

header #second-child-page-1 .text-home p {
    margin: 0;
    color: var(--cor2);
    font-size: 1.3em;
}

header #second-child-page-1 .text-home h1 {
    color: var(--cor4);
    font-size: 3.2em;
    text-transform: uppercase;
    margin: 20px 0 20px 0;
    background: linear-gradient(45deg, #3E3831, #858482, #615e59, #000000);
    background-size: 400% 100%;
    animation: degrade 2s linear infinite alternate;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

header #second-child-page-1 .text-home button {
    color: var(--cor0);
    background-color: #000000;
    border-radius: 10px;
    display: flex;
    margin: 20px 20px 0 0;
    margin-left: auto;
    padding: 10px 20px 10px 20px;
}

header #second-child-page-1 .text-home button:hover {
    animation-name: animation;
    animation-duration: 0.6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    color: #ffffff;
    background-color: var(--cor3);
    box-shadow: 0 0 15px var(--cor1);
}

header #second-child-page-1 .image-home img {
    display: flex;
    margin-left: auto;
    width: 500px;
    max-width: 100%;
}

header #third-child-page-1 .container {
    display: flex;
    height: 70px;
}

header #third-child-page-1 .container img, 
header #third-child-page-1 .container p, 
header #third-child-page-1 .container a {
    display: flex;
    align-items: center;
}

header #third-child-page-1 .container img {
    width: 30px;    
}

header #third-child-page-1 .container .social-home {
    display: flex;
    align-items: center;
}

header #third-child-page-1  .container .social-home a {
    margin-right: 10px;
}

header #third-child-page-1 .container .social-home a:hover {
    animation-name: animation-icons;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}

header #third-child-page-1 .container .scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bouncing .7s ease-in-out alternate infinite;
}

header #third-child-page-1 .container .scroll p {
    margin: 0 0 0 10px;
    font-size: .7em;
    text-transform: uppercase;
}

header #third-child-page-1 .container .mail-home {
    display: flex;
    align-items: center;
    justify-content: end;
}

header #third-child-page-1 .container .mail-home p {
    margin: 0 0 0 10px;
    font-weight: 500;
}

/* --------------------------------------------------------------------------------------------------------------------- */

main #first-child-page-2 {
    margin-top: 100px;
    padding: 0;
}

main #first-child-page-2 .text-about h2 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 20px;
}

main #first-child-page-2 .text-about h3 {
    color: var(--cor4);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 40px;
}

main #first-child-page-2 .text-about p {
    color: var(--cor4);
    font-size: 1em;
    margin: 40px 0 20px 0;
}

main #first-child-page-2 .selfie-victor {
    display: flex;
    align-items: center;
}

main #first-child-page-2 .selfie-victor img {
    margin-left: auto;
    width: 300px;
}

/* --------------------------------------------------------------------------------------------------------------------- */

main #first-child-page-3 {
    padding: 0;
    margin-top: 100px;
}

main #first-child-page-3 h2 {
    font-size: 3em;
    font-weight: bold;
    margin-top: 20px;
}
/* --------------------------------------------------------------------------------------------------------------------- */

main #first-child-page-4 h2 {
    font-size: 3em;
    font-weight: bold;
    margin: 30px 0 40px 0;
}

main #first-child-page-4 h6,
main #second-child-page-4 h6 {
    font-size: 1.2em;
    margin: 40px 0 20px 0;
    text-align: center;
}

main #first-child-page-4 .skills-1 {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    margin: 10px;
    font-size: .8em;
}

main #first-child-page-4 .skills-1 .fast,
main #first-child-page-4 .skills-1 .responsive,
main #first-child-page-4 .skills-1 .intuitive,
main #first-child-page-4 .skills-1 .dynamic {
    width: 270px;
}

main #first-child-page-4 .skills-1 img {
    width: 40px;
    margin-bottom: 10px;
}

main #second-child-page-4 .skills-2 {
    
  
}

main #second-child-page-4 .skills-2 ul {
    display: contents;
    flex-direction: row;
}

main #second-child-page-4 .skills-2 ul li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 10px;
    width: 400px;
    font-size: 1em;
    text-transform: uppercase;

}















::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--cor4);
}

@media (max-width: 992px) {
    header #second-child-page-1 .container {
      height: 350px;
      justify-content: center;
    }

    header #second-child-page-1 .text-home .button-projects button {
        display: none;
    }

    header #second-child-page-1 .image-home {
        display: none;
    }

    header #third-child-page-1 .container {
        display: flex;
        justify-content: center;
    }

    header #third-child-page-1 .container .scroll {
        display: none;
    }

    header #third-child-page-1 .container .mail-home {
        display: none;
    }

    main #first-child-page-2 .text-about {
        text-align: center;
    }

    main #first-child-page-2 .selfie-victor img {
        display: none;
    }

    main #first-child-page-4 .skills-1 {
        display: contents;
        flex-direction: row;
    }

    main #first-child-page-4 .skills-1 .fast,
    main #first-child-page-4 .skills-1 .responsive,
    main #first-child-page-4 .skills-1 .intuitive,
    main #first-child-page-4 .skills-1 .dynamic {
        margin-bottom: 20px;
        padding: 5px;
        
    }

    main #second-child-page-4 .skills-2 ul {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
    }

    main #second-child-page-4 .skills-2 ul li {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 200px;
        margin: 3px 30px 0 0;
        margin-left: 150px;
        border: 1px solid red;
    }
}

@keyframes degrade {
    0% {
        background-position-x: 0%;
    }

    100% {
        background-position: 100%;
    }
}

@keyframes animation {
    0% {
        transform: scale(1); 
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes animation-icons {
    0% {
        transform: scale(1); 
    }

    100% {
        transform: scale(1.3);
    }
}

@keyframes bouncing {
    to {
        transform: translateY(5px);
    }
}